* {
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
}

body {
    background-image: url(images/bg-pattern-bottom-desktop.svg), url(images/bg-pattern-top-desktop.svg);
    background-position: right bottom, left top;
    background-repeat: no-repeat, no-repeat;
    background-size: 80%, 40%;
}

h1 {
    color: hsl(300, 43%, 22%);
    font-size: 47px;
    text-align: left;
    line-height: 48px;
    padding-right: 10rem;
}

h2 {
    font-weight: 500;
    color: hsl(303, 10%, 53%);
    font-size: 15px;
    margin: 15px 0 0 0;
    line-height: 24px;
}

h3 {
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    font-size: 14px;
}

span {
    display: inline-block;
}

.container {
    margin: 8% 10%;
}

.up {
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.right {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.rate {
    background-color: hsl(300, 24%, 96%);
    margin-top: 16px;
    padding: 4px 32px;
    border-radius: 8px;
}

.first {
    align-self: flex-start;
}

.sec {
    align-self: center;
}

.third {
    align-self: flex-end;
}

.stars img {
    margin-right: 6px;
}

.rated {
    font-size: 15px;
    margin-left: 20px;
    display: inline-block;
    color: hsl(300, 43%, 22%);
    line-height: 46px;
    font-weight: 700;
}

.down {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}

.testimonials {
    background-color: hsl(300, 43%, 22%);
    border-radius: 8px;
    padding: 35px 33px;
    vertical-align: top;
}

.testi-mage {
    border-radius: 50%;
    display: inline-block;
    width: 40px;
}

.user {
    margin-left: 16px;
    vertical-align: top;
    padding-top: 4px;
}

.check {
    font-size: 13px;
    display: block;
    font-weight: 400;
    color: hsl(333, 80%, 67%);
    margin-top: 4px;
}

.descp {
    color: hsl(0, 0%, 100%);
    display: block;
    font-size: 11px;
    line-height: 20px;
    margin: 22px 0 0 0;
}

.two {
    margin-top: 1.5rem;
}

.three {
    margin-top: 3rem;
}

@media only screen and (max-width: 800px) {
    .down {
        flex-direction: column;
    }
    .up {
        flex-direction: column;
        padding: 1rem;
        align-items: center;
    }
    .container {
        padding: 0%;
    }
    .testimonials {
        width: initial;
        align-self: flex-start;
        margin-top: 1rem;
        margin-right: 0;
        margin-left: 0;
    }
    .right {
        width: 0%;
        margin-left: 8rem;
        text-align: center;
    }
    h1 {
        font-size: 43px;
        line-height: 48px;
        text-align: center;
    }
}