:root {
    --font-size: 'Raleway', sans-serif;
    --back-buttons: hsl(229, 57%, 11%);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: var(--font-size);
}

body {
    background-image: url(./images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: 52rem 56rem;
}

h2 {
    font-size: 14px;
    font-family: var(--font-size);
    font-weight: 300;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: rgb(170, 178, 245)
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.buttons button {
    padding: 1.6em 1.6em;
    border-radius: 10px;
    border: 1px solid var(--back-buttons);
    margin-right: 15px;
    background-color: var(--back-buttons);
}

.upload {
    background-image: url(images/icon-upload.svg);
    background-size: 25px;
}

.folder {
    background-image: url(images/icon-folder.svg);
    background-size: 23px;
}

.document {
    background-image: url(images/icon-document.svg);
    background-size: 18px;
}

.logo h1 {
    margin-top: 0.4rem;
}

.upload,
.folder,
.document {
    background-position: center;
    background-repeat: no-repeat;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
}

.progress {
    padding: 0.2em;
    background-color: var(--back-buttons);
    border-radius: 30px;
    width: 80%;
    margin: 0 auto;
}

.progress-bar {
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    position: relative;
    border-radius: 30px;
    height: 0.9em;
    width: 80%;
}

.progress-bar::before {
    content: '0 GB';
    position: absolute;
    left: 0.3em;
    top: 1.5em;
    font-weight: 700;
}

.progress-bar::after {
    content: '1000 GB';
    position: relative;
    left: 9em;
    top: 1.5em;
    font-weight: 700;
}

.circle {
    content: '';
    position: absolute;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    left: 96%;
    top: 0.1em;
}

.container {
    display: flex;
    flex-direction: column;
    margin-right: 0.4em;
    margin-left: 0.5em;
    margin-bottom: 10em;
}

.menu {
    display: flex;
    flex-direction: column;
    height: 13em;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px;
    border-top-right-radius: 100px;
    padding: 2em;
    margin-top: 15vh;
}

.storage {
    background-color: hsl(228, 56%, 26%);
    color: hsl(243, 100%, 93%);
    font-family: var(--font-size);
    text-align: center;
    height: 11em;
    margin-top: 1em;
    border-radius: 10px;
    padding-top: 1em;
}

.left p {
    align-items: center;
    background-color: white;
    color: var(--back-buttons);
    width: 47%;
    margin: 0 auto;
    padding: 1em;
    margin-top: -30px;
    font-family: var(--font-size);
    text-align: center;
    font-weight: 400;
    font-size: 10px;
    border-radius: 10px;
}

.left strong {
    margin-right: 8px;
    margin-left: 10px;
    font-weight: 700;
    font-size: 35px;
}

@media only screen and (min-width: 720px) {
    html {
        max-width: 1440px;
        font-size: 14px;
        font-family: var(--font-size);
        margin-top: 50vh;
    }
    body {
        background-image: url(images/bg-desktop.png);
        background-color: var(--back-buttons);
        background-size: 120% 256%;
    }
    .container {
        flex-direction: row;
        width: 100%;
        margin-top: -8em;
        justify-content: center;
        margin-left: 10em;
    }
    .logo h1 {
        margin-bottom: 2rem;
        margin-top: 0rem;
    }
    .menu {
        padding: 2.5em;
        margin-top: 0;
        margin-right: 1.6em;
        height: 14em;
        width: 24em;
    }
    .storage {
        margin-top: 4em;
        height: 10em;
        width: 36em;
        text-align: left;
        padding-top: 1.5em;
        margin-right: 3rem;
    }
    .storage h2 {
        padding-left: 3.9em;
    }
    .progress-bar::after {
        left: 110%;
        top: 1.5em;
    }
    .triangle {
        border-bottom: 1.9rem solid transparent;
        border-right: 1.56rem solid white;
        position: relative;
        bottom: 0.625rem;
        left: -6.5em;
    }
    .left p {
        width: 14em;
        margin: 0 auto;
        padding: 1em;
        margin-top: 22px;
        margin-left: -209px;
        display: inline-flex;
    }
}